* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    background-color: red;
}
.wrap {
    display: block;
    height: 100%;

}
.menu {
    display: block;
    float: left;
    width: 250px;
    height: 100%;
    background-color: indigo;
    color:  white;
}
.content {
    display: block;
    height: 100%;
    width: 100%;
    background-color: white;
    color: #333;
    padding: 20px 0px 0px 270px;
}
.menu ul {
    margin: 0;
    padding: 20px 0px 0px 40px;
    
}