* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    background-color: red;
    overflow-x: hidden;
}
.wrap {
    white-space: nowrap;
    height: 100%;
}
.menu {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    background-color: indigo;
    color: white;
    width: 250px;
    height: 100%;
}
.content {
    vertical-align: top;
    display: inline-block;
    white-space: normal;
    margin-left: -4px;	
    width: calc(100% - 249px);
    background-color: white;
    color: #333;
    height: 100%;
    padding: 20px 0px 0px 30px;
}
.menu ul {
    margin: 0;
    padding: 0;
    
    padding: 20px 0px 0px 40px;
}