* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    background-color: red;
}
.wrap {
    display: flex;
    height: 100%;

}
.menu {
    display: flex;
    background-color: indigo;
    flex: 0 0 250px;
    color:  white;
}
.content {
    display: flex;
    flex: 1 1 auto;
    background-color: white;
    color: #333;
    padding: 20px 0px 0px 30px;
}
.menu ul {
    margin: 0;
    padding: 20px 0px 0px 40px;
    
}