* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.wrap {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "header header header"
    "left center right"
    "footer footer footer";
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr 2fr 1fr;
}
.header {
    grid-area: header;
    background-color: #8ca0ff;
}
 .left {
    grid-area: left;
    background-color: red;
}
 .center {
    grid-area: center;
    background-color: green;
}
 .right {
    grid-area: right;
    background-color: blue;
}
.footer {
    grid-area: footer;
    background-color: fuchsia;
}